@media only screen and (max-width: 1400px){
.btn_cl_select a{
width: 100%;
    height: 20px;
    margin: auto;
    padding-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left:0;
    padding-right:0;}
    
    .btn_cl a{
width: 100%;
    height: 20px;
    margin: auto;
    padding-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left:0;
    padding-right:0;}
    
   #QS
   {
   margin-top:380px;
   }
}

@media only screen and (min-width: 1400px){
.btn_cl_select a{
width: 100px; height: 20px;
}

.btn_cl a{
width: 100px; height: 20px;
}
}
